@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.footer .footer__inner, .testimonial .testimonial__inner, .hero .hero__inner, .nav .nav__inner {
  padding-left: 10.438rem;
  padding-right: 10.438rem;
}
@media (max-width: 1270px) {
  .footer .footer__inner, .testimonial .testimonial__inner, .hero .hero__inner, .nav .nav__inner {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 619px) {
  .footer .footer__inner, .testimonial .testimonial__inner, .hero .hero__inner, .nav .nav__inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

body {
  font-family: "Epilogue", sans-serif;
  position: relative;
}

h1 {
  font-size: 4.5rem;
  line-height: 78px;
  letter-spacing: -1px;
  margin-bottom: 2.5rem;
  color: #172339;
  font-weight: 400;
}
@media (max-width: 1270px) {
  h1 {
    font-size: 3.5rem;
    line-height: 64px;
    letter-spacing: -0.78px;
  }
}
@media (max-width: 619px) {
  h1 {
    font-size: 2.375rem;
    line-height: 44px;
    letter-spacing: -0.53px;
    margin-bottom: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-bottom: 2.5rem;
}
@media (max-width: 1270px) {
  h2 {
    font-size: 2.5rem;
    line-height: 48px;
    letter-spacing: -0.42px;
  }
}

h1 span,
h2 span {
  font-weight: 700;
}

.btn {
  font-weight: 700;
  line-height: 32px;
  border-radius: 6px;
  letter-spacing: -0.16px;
  transition: all 300ms ease;
  cursor: pointer;
}

.btn-outline {
  padding: 0.7rem 1.485rem;
  font-size: 1rem;
  border: 1px solid #172339;
  color: #172339;
  background-color: transparent;
}
@media (max-width: 619px) {
  .btn-outline {
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: -0.14px;
    padding: 0.7rem 1rem;
  }
}
.btn-outline:hover, .btn-outline:focus {
  background-color: #172339;
  color: #FAF8F6;
}

.btn-fill {
  position: relative;
  padding: 0.9rem 2rem;
  font-size: 1.125rem;
  border: none;
  background-color: #172339;
  color: #FAF8F6;
  overflow: hidden;
  transition: background 300ms ease;
}
.btn-fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms ease;
}
.btn-fill:hover, .btn-fill:focus {
  background-color: transparent;
}
.btn-fill:hover::before, .btn-fill:focus::before {
  opacity: 1;
}

.nav {
  padding-top: 3.125rem;
}
@media (max-width: 1270px) {
  .nav {
    padding-top: 2.5rem;
  }
}
@media (max-width: 619px) {
  .nav {
    padding-top: 1.5rem;
  }
}
.nav .nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  flex-shrink: 0;
  width: 81px;
}

.hero {
  padding-top: 4.188rem;
}
@media (max-width: 619px) {
  .hero {
    padding-top: 5.188rem;
  }
}
.hero__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 5rem;
}
@media (max-width: 1270px) {
  .hero__container {
    grid-template-columns: 1fr 0.25fr 0.5fr;
    grid-template-rows: 30rem auto;
    gap: 5rem;
  }
}
@media (max-width: 619px) {
  .hero__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.78fr 1fr;
    gap: 3rem;
  }
}

.hero__text-box {
  grid-row: 1;
  grid-column: 1/5;
  z-index: 2;
  align-self: center;
  width: 80%;
}
@media (max-width: 1270px) {
  .hero__text-box {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: flex-end;
    width: 80%;
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 619px) {
  .hero__text-box {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    padding-bottom: 0;
  }
}
.hero__text-box p {
  font-size: 1.125rem;
  line-height: 32px;
  color: #49566D;
  letter-spacing: 0.1px;
  margin-bottom: 3.25rem;
  width: 50%;
}
@media (max-width: 1270px) {
  .hero__text-box p {
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.09px;
    margin-bottom: 2.5rem;
    width: 70%;
  }
}
@media (max-width: 619px) {
  .hero__text-box p {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.hero__text-box .line {
  position: relative;
}
.hero__text-box .line::before {
  position: absolute;
  content: "";
  background-image: url("../assets/pattern-curved-line-1.svg");
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
  width: 100%;
  top: -3.7rem;
}
@media (max-width: 1270px) {
  .hero__text-box .line::before {
    background-size: 55% 50%;
    top: -3.1rem;
  }
}
@media (max-width: 619px) {
  .hero__text-box .line::before {
    top: -2rem;
  }
}

.hero__img-box {
  background-image: url("../assets/image-hero-portrait@2x.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
  min-height: 37.5rem;
  width: 350px;
  grid-row: 1;
  grid-column: 3/5;
  margin-right: 20px;
}
@media (max-width: 1270px) {
  .hero__img-box {
    background-image: url("../assets/image-hero-portrait.webp");
    width: auto;
    min-height: auto;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-right: 0px;
  }
}
@media (max-width: 619px) {
  .hero__img-box {
    background-image: url("../assets/image-hero-landscape.webp");
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.hero__stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row: 1;
  grid-column: 5/6;
  align-self: center;
}
@media (max-width: 1270px) {
  .hero__stats {
    grid-row: 3/4;
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 619px) {
  .hero__stats {
    flex-direction: column;
    align-items: center;
  }
}
.hero__stats .hero__stats-box {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1270px) {
  .hero__stats .hero__stats-box {
    align-items: center;
  }
}
.hero__stats .hero__stats-box:not(:last-child) {
  margin-bottom: 3.7rem;
}
@media (max-width: 1270px) {
  .hero__stats .hero__stats-box:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (max-width: 619px) {
  .hero__stats .hero__stats-box:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.hero__stats .hero__stats-box span {
  color: #172339;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.5px;
}
@media (max-width: 1270px) {
  .hero__stats .hero__stats-box span {
    letter-spacing: 0px;
  }
}
.hero__stats .hero__stats-box p {
  color: #49566D;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.testimonial {
  padding-top: 12.5rem;
}
@media (max-width: 1270px) {
  .testimonial {
    padding-top: 16.5rem;
  }
}
@media (max-width: 619px) {
  .testimonial {
    padding-top: 15.5rem;
  }
}
@media (max-width: 619px) {
  .testimonial .testimonial__inner {
    padding: 0;
  }
}

.testimonial-container {
  display: grid;
  grid-template-columns: minmax(450px, 1fr) 1fr;
  grid-template-rows: 1fr;
  gap: 6rem;
  background-color: #172339;
  color: #FAF8F6;
  border-radius: 15px;
}
@media (max-width: 1270px) {
  .testimonial-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1fr;
    gap: 7rem;
  }
}
.testimonial-container .testimonial__img-box {
  position: relative;
  padding-left: 3.25rem;
}
@media (max-width: 1270px) {
  .testimonial-container .testimonial__img-box {
    padding-left: 0;
  }
}
.testimonial-container .testimonial__img-box::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 110%;
  background-image: url("../assets/image-jeremy-large.webp");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom center;
}
@media (max-width: 1270px) {
  .testimonial-container .testimonial__img-box::before {
    height: 166%;
  }
}
@media (max-width: 619px) {
  .testimonial-container .testimonial__img-box::before {
    height: 138%;
  }
}
.testimonial-container .testimonial__img-box::after {
  position: absolute;
  content: "";
  bottom: 16%;
  right: -15%;
  width: 100%;
  height: 100%;
  background-image: url("../assets/pattern-curved-line-2.svg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media (max-width: 1270px) {
  .testimonial-container .testimonial__img-box::after {
    background-position: bottom center;
    background-size: 7%;
    bottom: -33%;
    right: 50%;
    transform: translateX(50%);
  }
}
@media (max-width: 619px) {
  .testimonial-container .testimonial__img-box::after {
    background-size: 13%;
    bottom: -28%;
  }
}
.testimonial-container .testimonial__text-box {
  display: flex;
  flex-direction: column;
  padding: 5.5rem 7.5rem;
  padding-left: 2rem;
}
@media (max-width: 1270px) {
  .testimonial-container .testimonial__text-box {
    padding: 0rem 4rem 3.625rem 4rem;
    text-align: center;
  }
}
@media (max-width: 619px) {
  .testimonial-container .testimonial__text-box {
    padding: 0rem 1rem 4rem 1rem;
  }
}
.testimonial-container .testimonial__text-box p {
  font-size: 1.25rem;
  line-height: 35px;
  letter-spacing: 0.1px;
  margin-bottom: 2.5rem;
}
@media (max-width: 1270px) {
  .testimonial-container .testimonial__text-box p {
    font-size: 1.125rem;
    line-height: 32px;
  }
}
.testimonial-container .testimonial__text-box .author {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 32px;
  letter-spacing: -0.18px;
}
.testimonial-container .testimonial__text-box .status {
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 2.5px;
}

.footer {
  background-color: #F3EDE7;
  padding-top: 22.5rem;
  padding-bottom: 4.5rem;
  position: absolute;
  width: 100%;
  z-index: -2;
  bottom: -12.5rem;
  left: 0;
}
@media (max-width: 619px) {
  .footer {
    bottom: -18rem;
  }
}
.footer .footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 619px) {
  .footer .footer__inner {
    flex-direction: column;
    gap: 2.063rem;
  }
}
.footer .footer__inner p {
  font-size: 0.9375rem;
  line-height: 32px;
  letter-spacing: 0.08px;
  color: #49566D;
}

.footer__logo {
  width: 81px;
  height: auto;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__socials a {
  color: #172339;
  font-size: 1.45rem;
  transition: color 300ms ease;
}
.footer__socials a:not(:last-child) {
  margin-right: 1.75rem;
}
.footer__socials a:hover, .footer__socials a:focus {
  color: #49566D;
}

/*# sourceMappingURL=main.css.map */
