@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer {
    background-color: $color-base-quintary;
    padding-top: 22.5rem;
    padding-bottom: 4.5rem;
    position: absolute;
    width: 100%;
    z-index: -2;
    bottom: -12.5rem;
    left: 0;

    @include SM-styles {
        bottom: -18rem;
    }

    .footer__inner {
        @extend %wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;


        @include SM-styles {
            flex-direction: column;
            gap: 2.063rem;
        }


        p {
            font-size: $font-size-small;
            line-height: 32px;
            letter-spacing: 0.08px;
            color: $color-base-terietry;
        }
    }

}

.footer__logo {
    width: 81px;
    height: auto;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: $color-base;
        font-size: 1.45rem;
        transition: color 300ms ease;

        &:not(:last-child) {
            margin-right: 1.75rem;
        }

        &:hover,
        &:focus {
            color: $color-base-terietry;
        }
    }

}