@use 'sass:math';

@function rem-calc($size) {
    @return (math.div($size, 16)) * 1rem;
}


// Font settings

$font-family-base: 'Epilogue', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;



$font-size-base: rem-calc(18);
$font-size-large: rem-calc(20);

$font-size-medium: rem-calc(16);

$font-size-small: rem-calc(15);
$font-size-smaller: rem-calc(14);



$font-size-headidng-base: rem-calc(72);
$font-size-headidng-large: rem-calc(56);

$font-size-headidng-medium: rem-calc(48);
$font-size-headidng-medium: rem-calc(40);

$font-size-headidng-small: rem-calc(38);
$font-size-headidng-smaller: rem-calc(18);



// Color settings

$color-base: #172339;
$color-base-secondary: #FAF8F6;
$color-base-terietry: #49566D;
$color-base-quintary: #F3EDE7;

$color-primary: #A060FF;
$color-secondary: #CB30E3;
$color-terietry: #FFA84E;

$color-hover-primary: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);

// Size settings

$border-radius: 6px;